
.navbar {
    box-shadow: 0px 2px 10px rgb(133, 133, 133);
    padding: 1em;
    background: #2B2B2B;
    color: rgb(248, 71, 31);
    font-size: 20px;
}



.controle {
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(156, 57, 255), rgb(1, 124, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    font-weight: bold;
    color: rgb(190, 202, 214);
    text-decoration: none;
}

.logo:hover {
    color: rgb(248, 71, 31);
}


.cadastro {
    color: rgb(190, 202, 214);
    text-decoration: none;
    font-size: 16px;
    padding: 1em;
}

.cadastro:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.397);
}







